$column-background-color: #EEF1F3
$card-background-color: #FFFFFF

#main-container
    padding: 2rem
    height: 100%

.column-container
    max-width: 35rem
    min-width: 35rem
    font-size: 1.4rem
    height: 100%
    border-width: 0.1rem
    border-radius: 0.6rem
    background-color: $column-background-color

    .card-container
        background-color: $card-background-color