extends layout

block content
    main#main-container
        div.column-container(data-column-name='해야할일')
            div.column-header-container
                div.column
                span.column-card-number
                    | 3
                span.column-title
                    | 해야할일
                span.column-add-button
                    | +
                span.column-modify-button
                    | :
            div.card-container
                div.card-header-container
                    div.card-icon
                        | 앜
                    div.card-title
                        | 페이지네이션 UI 리서치
                div.card-section-container
                    | 이미지 혹은 파일 혹은 내용
                div.card-footer-container
                    div.card-writer
                        | Added By KKambi


    footer
    script(src='/javascripts/index.bundle.js')
    script(src='/javascripts/navigation.bundle.js')
