doctype html
head
  meta(charset='utf-8')
  title To-Do
  meta(name='description' content='할 일 관리 서비스')
  meta(name='author' content='KKambi')
  // Mobile Specifc Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  // Favicon and Apple Icons
  link(rel='shortcut icon' href='/images/icons/favicon.ico')
  body
    header#header-container
        nav#navigation-container
            div#navigation-button-index
                | ToDo서비스
            a#navigation-button-find(href='?')
                | Log
            a#navigation-button-find(href='/users/find')
                | Find
            if signed === 'true'
                a(onclick="document.querySelector('#logout-form').submit();")
                    | Logout
                form#logout-form(action="/sessions/destroy" method="POST" style="display:none;")  
            else
                a#navigation-button-login(href='/sessions/new')
                    | Login
    block content
