doctype html
head
  meta(charset='utf-8')
  title To-Do
  meta(name='description' content='할 일 관리 서비스')
  meta(name='author' content='KKambi')
  // Mobile Specifc Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
  // Favicon and Apple Icons
  link(rel='shortcut icon' href='/images/icons/favicon.ico')
header#header-container
    nav#navigation-container
    a#navigation-button-index(href='/')
        | HOME
    a#navigation-button-find(href='/users/find')
        | 훔쳐보기
    if signed === 'true'
        a(onclick="document.querySelector('#logout-form').submit();")
            | 로그아웃
        form#logout-form(action="/sessions/destroy" method="POST" style="display:none;")  
    else
        a#navigation-button-login(href='/sessions/new')
            | 로그인
main#main-container
footer
script(src='/javascripts/navigation.bundle.js')
script(src='/javascripts/index.bundle.js')
script(src='/javascripts/mainContent.bundle.js')
